@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.home-container {
  min-height: 100vh;
}

.home-inner-container {
  width: 85%;
  margin: 100px auto 0 auto;
}

/* ------------ First-Section ----------- */

.first-section {
  display: flex;
  height: 450px;
  gap: 25px;
  min-height: 90vh;
}

/* ---------- Part-one ----------*/

.first-section .part-one {
  position: relative;
  width: 50%;
  border-radius: 20px;
  background: linear-gradient(45deg, #0C1C14 -5.53%, #008491 110.78%);
  padding: 50px 20px 40px 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.first-section .part-one h1 {
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 4px;
}

.first-section .part-one a {
  margin-bottom: .5em;
  padding: .3em 1.2em;
  border-radius: 12.4px;
  background: #FFF;
  color: #272E3F;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}

.part-one img {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 40px;
}

/* ---------- Part-Two -------------*/

.part-two {
  width: 50%;
  display: flex;
}

.road-maps-continer {
  position: relative;
  height: 50%;
  width: 100%;
  padding: 20px 27px;
  border-radius: 20px;
  background: #7ACDFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.road-maps-continer p {
  font-size: 20px;
  letter-spacing: 1.4px;
}

.road-maps-continer a {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.road-maps-continer img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 450px;
}

/* ---------------- Second-Section ------------------ */

.second-section {
  margin: 100px 0 65px 0;
}

.second-section h1 {
  text-align: center;
  color: #272E3F;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 3px;
}

.cards-container {
  /* border: 1px solid magenta; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  padding: 20px 0 50px 0;
}

.card {
  border-radius: 25px;
  background: #EFEFEF;
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  color: #272E3F;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 22px 0;
}

.card p {
  font-size: 24px;
  font-weight: 300;
  color: #272E3F;
  text-align: center;
}

.third-section {
  min-height: 65vh;
  background: #272E3F;
  color: #E7EDF2;
  padding: 80px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 60px;
}

.third-section .title {
  font-size: 60px;
  font-weight: 700;
  align-self: self-start;

}

.third-section .title span {
  display: block;
}

.path-card {
  padding: 30px;
  border-radius: 12px;
  background: #008491;
  align-self: self-start;

}

.path-card h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 23px;
}

.path-card p {
  font-weight: 300;
}

.path-card a {
  display: inline-block;
  margin: 23px 20px 0 0;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
  padding: .1em 1.8em;
}

.path-card .start-now {
  background: #51d148;
}

.path-card .details {
  border: 1px solid #272E3F;
  color: #272E3F;
}









