
/* ---------------- Hero section -------------------- */

.mainContainer {
    padding: 1em;
}

.section {
    text-align: center;

}

.heroSection img{
    width: 50%;
    max-width: 200px;
}

.heroSection h1 {
    color: #008491;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
}

.heroSection p {
    line-height: 1.6em;
    font-size: .9rem;
    line-height: 1.7em;
}

.section a {
    display: inline-block;
    background-color: #6FCE99;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 3.24px;
    border-radius: 12px;
    padding: .6em 2.2em;
    margin-top: 1.4em;
}

/* --------------- howItWorksSection ------------- */

.howItWorksSection {
    margin-top: 1em;
}

.howItWorksSection h2 {
    color: #008491;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border-bottom: 2px solid #000;
    width: 65%;
    padding: 1em;
}

.card p, .career p {
    font-size: .9rem;
}

.cardsContainer img {
    width: 30%;
}

/* ----------------- roadmapSection -------------- */

.roadmapSection {
    margin-top: 1em;
}

.roadmapSection h2 {
    color: #008491;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.careersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7ACDFF;
    border-radius: 12px;
    padding: 1em;
}

.career {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.career h3 {
    margin: 0 0 1em;
}

.career p {
    margin: 0;
}


/* ------------------ Media Queries --------------- */

@media(min-width:850px) {

    .mainContainer {
        padding: 3em;
    }

    .heroSection {
        text-align: initial;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .heroSection span {
        display: block;
    }

    .heroSection h1 {
        margin-bottom: 0;
        color: #008491;
        font-size: 3.2rem;
        line-height: 1.2em;
        letter-spacing: 4.48px;
    }

    .heroSection p {
        max-width: 60ch;
        color: #000;
        font-size: 1rem;
        line-height: 1.6em;
        letter-spacing: 1.4px;

    }

    .heroSection a {
        justify-self: self-start;
        align-self: self-start;
    }

    .heroSection img {
        grid-row: span 3;
        justify-self: center;
        align-self: center;
        min-width: 350px;
        width: 50%;
        max-width: unset;
        margin-left: 4em;
    }

    .howItWorksSection {
        /* border: 1px solid magenta; */
        padding: 1px;
        margin-top: 3em;
    }

    .howItWorksSection p {
        font-size: .8rem;
    }

    .cardsContainer {
        margin-top: 3em;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    
    .card {
        border-bottom: none;
        box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.1);
        width: 30%;
        border-radius: 12px;
    }

    .roadmapSection {
        margin-top: 5em;
    }

    .careersContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: self-start;
        padding: 2em;
    }
}