.mainContainer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer h1 {
    text-align: center;
    color: #6FCE99;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.subTitle {
    max-width:40ch;
    text-align: center;
    letter-spacing: 1px;
}

.AccordionContainer {
    width: 100%;
    max-width: 600px;
    margin: 5em 0;
}

.subTitle {
    text-align: center;
    margin-bottom: 1.2em;
}

.link {
    display: block;
    margin: 1em;
    line-height: 1.5em;
}

@media(min-width: 850px) {
    .mainContainer {
        padding: 3em;
    }

    .mainContainer h1 {
        font-size: 3rem;
    }

    .subTitle {
        font-size: 1.2rem;
    }

    .accordionTrigger {
        font-size: 1.5rem;
    }

    .AccordionContainer {
        max-width: 1100px;
    }

    .link {
        margin: 1em;
        font-size: 1.2rem;
    }
}