.mainContainer {
    min-height: 60vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer h1 {
    text-align: center;
    color: #6FCE99;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.roadmapsContainer {
    padding: 2em 0;
    display: grid;
    justify-items: center;
    width: 90%;
}

.roadmap {
    text-align: center;
    margin-bottom: 3em;
    padding: 2em;
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 3px 1px 5px 2px rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
}

.roadmap:hover, .roadmap:focus {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.roadmap p {
    font-weight: 600;
}