.mainContainer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer h1 {
    text-align: center;
    color: #6FCE99;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.roadmapsContainer {
    display: grid;
    justify-items: center;
    width: 90%;
    max-width: 1200px;
}


.roadmap {
    text-align: center;
    margin-bottom: 3em;
    padding: 1.5em;
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 3px 1px 5px 2px rgba(0, 0, 0, 0.15);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
}

.roadmap:hover, .roadmap:focus {
    color: #6FCE99;
    box-shadow: 3px 1px 5px 2px rgba(111, 206, 153, 0.35);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.roadmap p {
    font-weight: 600;
}

@media(min-width:850px) {
    .mainContainer h1 {
        font-size: 3rem;
        margin-top: 1em;
    }

    .roadmapsContainer {
        place-content: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    }

    .roadmap {
        padding: 2em;
    }

    .accordionTrigger {
        font-size: 2.5rem;
    }
}