
/* --------------buttons------------------ */


.label {
    display: flex;
}

.btnWrapper {
    display: inherit;
    flex-direction: column;
}


.btn {
    padding: 1em 2.3em;
    margin-top: 1.8em;
    border-radius: 10px;
    border: 1px solid rgba(149, 149, 149, 0.37);
    background: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.saveBtn {
    border: none;
    background-color: #6FCE99;
    color: white;
}

.deleteBtn {
    color: red;
    border: 1px solid red;
}

.btn:hover, .btn:focus {
    opacity: 0.7;
}


@media(min-width:850px) {
    .btnWrapper {
        flex-direction: row;
    }
    .saveBtn {
        margin-right: 20px;
    }
}

/* --------------icons--------------- */

.icon {
    font-size: 1.5rem;
    margin: 0 3px -5px 0;
}
/* -------------------header-------------------- */

.deco {
    padding: 4em;
    background-color: #4FCCC5;
    position: relative;
    
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:850px) {
    .header {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1em;
    }
}

.profileImgContainer {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.profileImg {
    width: 100%;
    border-radius: 50%;
}

/* -------------------main---------------------- */
.main {
    background-color: #f4f4f4;
    margin-top: 12em;
    padding: 1em 0;
}

.mainGrid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
}

@media (min-width:850px) {
    .mainGrid {
        /* border: 4px solid magenta; */
        grid-template-columns: minmax(1em, 1fr) minmax(500px, 1100px) minmax(1em, 1fr);
    }
}

.section {
    background-color: white;
    padding: 2em 1em;
    grid-column: 2 / -2;
    margin-bottom: 2em;
}

@media(min-width:850px) {
    .section {
        display: grid;
        padding: 2em 4em;
        grid-template-columns: minmax(220px, 300px) minmax(300px, 1fr);
        column-gap: 60px;
    }
}

.info {
    text-align: center;
}

@media(min-width:850px) {
    .info {
        text-align: left;
    }
}

.section h2 {
    font-size: 2rem;
    font-weight: 600;
}

.section p {
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 1px;
}


.section form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width:850px) {
    .section form {
        max-width: 700px;
    }
}

.section input {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.60);
    background: #FFF;
    padding: .8em 1em;
    margin: .5em 0 2em 0;
    font-size: 1rem;
}

.deleteSection {
    /* padding: 1; */
    text-align: center;
}

@media(min-width:850px) {
    .deleteSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.section:last-child h2 {
    margin: 0;
    color: red;
}


