
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1.5em);
}

.container {
    padding: 2em 1.2em;
    min-height: 100vh;
    text-align: center;
}

/* ---------------------------------- 

            Header

-----------------------------------*/

.header, .mainContainer {
    display: grid;
    grid-template-columns: minmax(0, 600px);
    place-content: center;
}

/* ----------------- 

    First Column

------------------*/

.firstCol {
    display: flex;
    flex-direction: column;
}

/* ------ Company Info ------ */

.companyInfo {
    --flow-space: .5em;
}

.companyInfo .companyLogo {
    width: 55%;
    max-width: 280px;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.companyInfo h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

/* ----- Company Details ------- */

.companyDetails h2, .mainContainer h2{
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
}

.companyDetails h5 {
    color: #848484;
    font-size: 1.3rem;
}

.companyDetails p, .companyDetails a {
    font-size: .7rem;
}

.companyDetails a {
    color: blue;
    margin: 0;
    padding: 0;
}

/* ------------------- 

    Second Column

---------------------*/

.secondCol {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.secondCol button {
    display: inline-block;
    padding: .7em 2.5em;
    border-radius: 7px;
    color: #FFF;
    font-style: normal;
    font-weight: 600;
}

.followBtn {
    border-radius: 12px;
    background-color: #6FCE99;
}

.applyBtn {
    background-color: #7ACDFF;
}

/* ---------------------------------- 

            Main container

-----------------------------------*/

.mainContainer {
    --flow-space: 2.5em;
    margin-top: 3em;
    grid-template-areas: 
        'description'
        'skills'
        'roadmap'
        'similar';
}

.jobDescriptionSection {
    grid-area: description;
    --flow-space: .5em;
}

.jobDescriptionSection p {
    text-align: left;
    line-height: 1.7em;
}

.jobSkillsSection {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobSkillsSection > .groupOfSkills {
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    --flow-space: .5em;
    font-size: 1.1em;
}

.groupOfSkills, .suggestedRoadmap {
    width: 90%;
}

.checkIcon {
    font-size: 1.2em;
    margin: 0px 4px 2px 0px;
    color: grey;
}

.suggestedRoadmapSection {
    grid-area: roadmap;
    display: flex;
    flex-direction: column;
}

.suggestedRoadmap {
    margin-inline: auto;
}

.suggestedRoadmap h3 {
    color: #6FCE99;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: underline;
    margin-top: .5em;
}

.suggestedRoadmap p {
    max-width: 90%;
    margin: .2em auto 0;
}

@media(min-width: 850px) {
    .container {
        background-color: #f4f4f4;
        text-align: left;
    }

    .header, .mainContainer {
        width: 90%;
        max-width: 1300px;
        margin-inline: auto;
    }

    .header {
        background-color: #fff;
        padding: 2em;        
        grid-template-columns: 2fr 1fr;
    }

    .companyInfo {
        --flow-space: 0;
        display: flex;
        align-items: center;
        gap: 3%;
    }

    .companyInfo .companyLogo {
        max-width: 200px;
        border-radius: 0;
        margin: unset;
    }

    .companyDetails {
        --flow-space: 0;
        margin-top: 1.5em;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        max-width: 700px;
        text-align: center;
    }

    .header .secondCol {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mainContainer {
        place-content: unset;
        grid-template-columns: 2fr 1fr;
    }
    
    .jobDescriptionSection p {
        max-width: 90%;
        line-height: 1.9em;
        letter-spacing: 1px;
    }

    .jobSkillsSection {
        align-items: flex-start;
    }

    .jobSkillsSection > .groupOfSkills,
    .suggestedRoadmapSection .suggestedRoadmap {
        background-color: #ffffff;
        padding: 1em 2em;
        border-radius: 9px;
    }

    .jobSkillsSection > .groupOfSkills {
        justify-content: flex-start;
    }

    .suggestedRoadmap {
        margin: 1em 0;
    }

    .suggestedRoadmap p {
        margin: .5em 0 0 0;
    }

}